{% load static %}
<html>
<head>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
        <div id="main">
                <div class="center wrapper">
                        <div id="search-content">
                                <h1 class="title">Scene Search</h1>
                                  <input autocomplete="off" name="q" type="text" placeholder="Search..." id="search-box" class="input-field">
                                  <br>
                                  <select name="show" id="show-selector" class="input-field">
                                          <option value="all">All</option>
                                          {% for show in showList %}
                                          <option value={{show.name}}>{{show}}</option>
                                          {% endfor %}
                                </select>
                                <div id="search-results">
                                        <ul id="results-list">
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>
</body>
{% block footer %}
<!--<script type="text/javascript" src="{% static "js/home.js" %}"></script>-->
        <script>
                const user_input = document.getElementById("search-box");
                const show_selector = document.getElementById("show-selector");
                let timeoutID;
                const DELAY = 300;
                function get_query() {
                        if ($("#search-box").val() != "") {
                                fetch('{% url "searchresults" %}?q='.concat(user_input.value).concat("&s=").concat(show_selector.value))
                                .then(result => result.json())
                                .then((output) => {
                                        const results_list = document.getElementById("results-list");
                                        results_list.innerHTML = "";
                                        for (let i = 0; i < output.length; i++) {
                                                let list_html = `
                                                <li>
                                                <form action="{% url 'genclip' %}" method="post">
                                                        `.concat(output[i]['fields']['quote_text']).concat(`
                                                        <input type="hidden" id="clip_id" name="q" value="`).concat(output[i]['pk']).concat(`"></input>
                                                        <button type="submit" id="start_button" name="t" value="s">Start with quote</button>
                                                        <button type="submit" id="end_button" name="t" value="e">end with quote</button>
                                                        <button type="submit" id="middle_button" name="t" value="c">Center quote</button>
                                                        <button type="submit" id="middle_button" name="t" value="j">Just quote</button>
                                                </form>
                                                </li>
                                                `);
                                                results_list.innerHTML+=list_html;
                                        };
                                });
                        }
                }
                
                $("#search-box").on('input', function () {
                        if (timeoutID) {
                                clearTimeout(timeoutID);
                        }
                        timeoutID = setTimeout(() => {
                                get_query();
                        }, DELAY);
                });
                $("#show-selector").on('input', function () {
                        get_query();
                });
        </script>
{% endblock %}
</html>
